<div class="container mt-5">
  <div class="card p-4 shadow mx-auto" style="max-width: 400px;">
    <h2 class="text-center mb-4">Login</h2>

    <input
      type="email"
      class="form-control mb-3"
      placeholder="Email"
      [(ngModel)]="credentials.email"
    />

    <input
      type="password"
      class="form-control mb-3"
      placeholder="Password"
      [(ngModel)]="credentials.password"
    />

    <button
      *ngIf="!otpSent"
      class="btn btn-success w-100 mb-3"
      (click)="sendLoginOtp()"
    >
      Send Login OTP
    </button>

    <div *ngIf="otpSent">

      <input
        type="text"
        class="form-control mb-3"
        placeholder="Enter OTP"
        [(ngModel)]="otp"
      />

      <button
        class="btn btn-primary w-100"
        (click)="verifyLogin()"
      >
        Verify OTP & Login
      </button>
    </div>

    <div class="text-center mt-3">
      <span>Don't have an account? </span>
      <a routerLink="/register">Register</a>
    </div>

    <div *ngIf="message" class="alert alert-info mt-3">
      {{ message }}
    </div>
  </div>
</div>